{% extends "base.html" %}
{% block content %}

    
<style>
    .button-regular {
        opacity: 1;
    }
    .button-transparent {
        opacity: 0.5;
    }
</style>

<div style="display: flex;">
<section class="Action" style="flex: 1; margin-right: 100px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button id="button1" class ="button-regular" onclick="setupSSH()" style="border-radius: 5px;">Setup SSH Connection</button>
        <h3 style="margin-left: 20px; font-size: 14px; color: grey;">SSH connection not established</h3>
    </div>

    <br>

    <button id="button2" class ="button-transparent" onclick="initializeAdapter()" style="border-radius: 5px;">Initialize Adapter</button>

    <br> 
    

    <br>
    <br>

    <div>
        <button id="button3" class ="button-transparent" onclick="scanWifi()" style = "border-radius: 5px;">Scan for Wi-Fi Networks</button>
        <select id="network-select" class ="button-transparent">
            <option>Select Network</option>
            <option>sample network option</option>
        </select>
    </div>

    <br>

    <section class="attack">
        <button id="button4" class ="button-transparent" onclick="startPasswordCrack()" style = "border-radius: 5px;">Start Password Crack</button>
        <div>Time of completion: <span id="completion-time">00:00</span></div>
        <div>Password found: <span id="password-found">N/A</span></div>
    </section>



</section>

<section class="log" style="flex: 1;">
    <h2>Log</h2>
    <textarea id="log" readonly style = "width: 220%; height: 120%;">Welcome to the Byte Buggy web interface.</textarea>
</section>

</div>

<script>

    <!--Transparent functionality-->
    document.getElementById("button1").onclick = function() {
        document.getElementById("button2").classList.remove("button-transparent");
        document.getElementById("button2").classList.add("button-regular");
    };

    document.getElementById("button2").onclick = function() {
        document.getElementById("button3").classList.remove("button-transparent");
        document.getElementById("button3").classList.add("button-regular");
        document.getElementById("network-select").classList.remove("button-transparent");
        document.getElementById("network-select").classList.add("button-regular");
    };

    document.getElementById("network-select").onchange = function() {
        document.getElementById("button4").classList.remove("button-transparent");
        document.getElementById("button4").classList.add("button-regular");
    };

   
</script>

{% endblock %}

