{% extends "base.html" %}
{% block content %}

<div style="display: flex;">
<section class="Action" style="flex: 1; margin-right: 100px;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <button onclick="setupSSH()" style="border-radius: 5px;">Setup SSH Connection</button>
        <h3 style="margin-left: 20px; font-size: 14px; color: grey;">SSH connection not established</h3>
    </div>

    <br>

    <button onclick="initializeAdapter()" style="border-radius: 5px;">Initialize Adapter</button>

    <br> 
    

    <br>
    <br>

    <div>
        <button onclick="scanWifi()" style = "border-radius: 5px;">Scan for Wi-Fi Networks</button>
        <select id="network-select">
            <option>Select Network</option>
        </select>
    </div>

    <br>

    <section class="attack">
        <button onclick="startPasswordCrack()" style = "border-radius: 5px;">Start Password Crack</button>
        <div>Time of completion: <span id="completion-time">00:00</span></div>
        <div>Password found: <span id="password-found">N/A</span></div>
    </section>



</section>

<section class="log" style="flex: 1;">
    <h2>Log</h2>
    <textarea id="log" readonly style = "width: 220%; height: 120%;">Welcome to the Byte Buggy web interface.</textarea>
</section>
</div>
{% endblock %}

